@page
@model BethanyPieShop.Pages.CheckoutPageModel
@{
    <form asp-action="Checkout" method="post" role="form">
    <h3 class="my-5">
        You're just on step away from your delicious pies.
    </h3>

    </form>
}

